<ul class="pager">
    <!--Start rollercoin.com code-->
    <a href="https://rollercoin.com/?r=knnujwfp">
        <img src="//rollercoin.com/static/img/referral/banners/ref_72890_cn.gif" alt="promo"/>
    </a>
    <!--End rollercoin.com code-->
    <% if (page.prev){ %>
        <li class="previous"><a href="<%- config.root %><%- page.prev_link %>">&larr;  <%- __('next')%></a></li>
    <% } %>
    <% if (page.next){ %>
        <li class="next"><a href="<%- config.root %><%- page.next_link %>"><%- __('prev')%>  &rarr;</a></li>
    <% } %>
</ul>

					